body{
    background-color: #3c3c3c;
}
#navigation{
    background-color:royalblue;
    width: 1910px;
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
}

th{
    color: black;
    padding: 10px;
    text-align: center;
}

a:hover{
    color: red;
}

a:active{
    color: red;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#back{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

#logo{
    
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: auto;
    display: block;
    
    
}

#main{
        background-color: lightgreen;
        width: 1195px;
        height: 485px;
        border: 8px solid royalblue;
        margin: auto;
        border-radius: 15px;
}

#back{
  height: 50px;
  width: auto;
  position: absolute;
  bottom: auto;
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 17pt;
    margin-left: auto;
    margin-right: auto;
    width: 1700px;
    height: auto;
    border: 8px solid royalblue;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
#p{
  font-size:larger;
}

#list{
  list-style: none;
}